@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Redis Microsoft Azure</h1>
    <p class="lead">Thuru's Blog</p>
    <p><a href="https://thuruinhttp.wordpress.com" class="btn btn-primary btn-lg">Blog</a></p>
</div>

<div class="row">
</div>